.App {
  text-align: center;
  font-family: Monserrat, Courier New, Courier, monospace;
  margin-left: 10%;
  margin-right: 10%;


}
.test{
  background-image: url(https://wallpaperaccess.com/full/812960.jpg);
  background-size: cover;

}


.App-header {
background-color: transparent;
background-size: cover;
  min-height: 80px;
  padding: 15px;
  color: rgb(54, 42, 59);
  margin-bottom: 5px;
  font-size: xx-large;
  
}

.App-title {
  font-size: 2em;
 
}

.App-intro {
  font-size: large;
  /* background-color:#d0d1d5;   */

 
}

h4 {
  /* color: rgb(70, 55, 78); */
  font-family:Courier New, Courier, monospace;
  font-style: italic;
}
h1{
  font-family:Courier New, Courier, monospace;
}
.reviewList{
  align-items: center;
  /* background-color:#d0d1d5;   */

}

.inputDiv{
  color: rgb(70, 55, 78);

  margin-left: 20px;
  /* background-color:#acc8d4; */
  display: flex;
  justify-content: center;
  font-family:Courier New, Courier, monospace;

}


.mainInputDiv{
  margin-top: 20px;
  /* background-color:#d0d1d5;   */
  /* background-color:#acc8d4; */


}

#demo-simple-select-label{
  font-size: large;
  color: black
}

#demo-simple-select{
  /* background-color: #d4e3e7; */
  outline: 2px rgb(70, 55, 78);

  color: rgb(70, 55, 78);

}

.select{
  background-color: #acc8d4;

}
.inputPadding{
  padding-bottom: 50px;
  padding-top: 10px;
  color: rgb(70, 55, 78);
  background-color: #e4e7eb		;
  border-radius: 10px;

}
/* 
.button-test{
  border-radius: 5;
  background-color: #ff9d5c;
color: black;
margin-top: 50px;
margin-left: 15px;
padding: 5px 30px;
font-size: 24px;
font-family: Courier New;
text-decoration: none;
} */